build/
dist/
licode_config.js
source/extras/basic_example/node_modules
source/extras/basic_example/public/erizo.js
source/extras/basic_example/nuve.js
node_modules/
site
.DS_Store
scripts/libdeps/
libdeps/
source/extras/vagrant/.vagrant
source/extras/vagrant/licode/
source/erizo_controller/erizoAgent/*.log
source/erizo_controller/erizoAgent/*.pem
source/erizo_controller/erizoAgent/webrtc.*
source/erizo_controller/erizoAgent/mixer.audio
third_party/node-v0.*
third_party/libuv-*
third_party/libre-*
third_party/mediaprocessor/
