.navbar_header {
    width: 100%;
}

.navbar_header img , .navbar_header a {
    display: inline-block;
    clear: both;
}

.navbar_header img {
    width: 84px;
}

.navbar_header a {
    width: calc(100% - 89px);
    font-size: 23px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.navbar_nav li.dropdown {
    display: inline-block;
    background-color: rgb(0, 113, 197);
}

.navbar_nav li.dropdown a {
    color: white;
}

.navbar .nav li.dropdown.open > .dropdown_toggle,
.navbar .nav li.dropdown.active > .dropdown_toggle,
.navbar .nav li.dropdown.open.active > .dropdown_toggle, .navbar_nav li.dropdown a:hover {
    background-color: rgb(25, 103, 190);
}

.navbar_nav li.dropdown a:focus {
    background-color: transparent;
}
