[agent]
#Max processes that agent can run
maxProcesses = -1 #default: -1, unlimited

#Number of precesses that agent runs when it starts. 1 <= prerunProcesses <= maxProcesses.
prerunProcesses = 2 #default: 2

#Roles defined in services have been moved to database

[cluster]
name = "owt-cluster"

#The number of times to retry joining if the first try fails.
join_retry = 60 #default: 60

#The interval of reporting the work load
report_load_interval = 1000 #default: 1000, unit: millisecond

#The load type, e.g. cpu, disk, network
load_type = "cpu"
#The max CPU load under which this worker can take new tasks.
max_load = 0.85 #default: 0.85


[rabbit]
host = "localhost" #default: "localhost"
port = 5672 #default: 5672

[mongo]
dataBaseURL = "localhost/owtdb" #default: "localhost/owtdb"

[internal]
# tcp/sctp available, tcp is default
protocol = "tcp"
