[agent]
#Max processes that agent can run
maxProcesses = -1 #default: -1, unlimited
#Number of precesses that agent runs when it starts. 1 <= prerunProcesses <= maxProcesses.
prerunProcesses = 2 #default: 2


[cluster]
#The name of the cluster to join.
name = "owt-cluster"

#The number of times to try joining
join_retry = 60 #default: 60

#The interval of reporting the work load
report_load_interval = 1000 #default: 1000, unit: millisecond

#The load type, e.g. cpu, disk, network
load_type = "cpu"
#The max CPU load under which this worker can take new tasks.
max_load = 0.85 #default: 0.85


[rabbit]
host = "localhost" #default: "localhost"
port = 5672 #default: 5672


[internal]
#The IP for in-cluster media spreading
#Use "" to automatically get IP from the network-interface configured in 'network_interface'
ip_address = "" #default: ""
#The network-interface you want to use for in-cluster media spreading.
#Use the first enumerated network-interface in the system if being set to undefined.
# network_interface = "eth0" # default: undefined

# The internal listening port range, only works for TCP now
maxport = 0 #default: 0
minport = 0 #default: 0

